<html>
<head></head>
<body>

<h1>keypub</h1>
<p>Keep your public keys on the cloud and install it with ease !</p>
<h2>Upload your key</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/upload | bash </p>
<h2>Install your key</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/install | bash </p>
<h2>Upload a second key with an another name</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/nameKey/upload | bash </p>
<h2>Install a specific key</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/nameKey/install | bash </p>
<h2>Install the default key</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/install | bash <br />
    curl -s http://ssh.chollet.co/your.email@provider.com/default/install | bash </p>
<h2>Install all your public keys</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/all/install | bash</p>
<h2>Erase a key with another</h2>
<p>curl -s http://ssh.chollet.co/your.email@provider.com/default/upload | bash</p>

</body>
</html>